body {
    color:whitesmoke;
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}